{{!-- <h1>Africa</h1> --}}

<div class="hero-section">
  <div class="hero-section-text">
    <h1>Dinner Table Of Continents</h1>
    {{!-- <h5>subtitle about anything you like</h5> --}}
  </div>
</div>

<div class="portfolio-resume-scrolling-container row">
  <div class="columns small-12 medium-5 portfolio-resume-overview">
    <div class="portfolio-resume-overview-content">
      <h3 class="portfolio-resume-name">Africa</h3>

    </div>
  </div>
  <div class="columns small-13 medium-6 portfolio-resume-scrolling">
    <h3>Facts about {{names}}</h3>
      <ul class="portfolio-resume-side-list">
        <li>Area: {{area_km}} km</li>
        <li>Population: {{pop}}</li>
        <li>Number of Countries: {{number_countries}}</li>
        <li>Largest Country: {{largest_country}}</li>
      </ul>

    <h3>Top Dish in {{names}}</h3>

      <ul>
        <li>{{popular_dish}}</li>
      </ul>

    </ul>
  </div>
</div>

