{{!-- <h1>Africa</h1> --}}

<div class="hero-section">
  <div class="hero-section-text">
    <h1>Dinner Table Of Continents</h1>
    {{!-- <h5>subtitle about anything you like</h5> --}}
  </div>
</div>

<div class="portfolio-resume-scrolling-container row">
  <div class="columns small-12 medium-5 portfolio-resume-overview">
    <div class="portfolio-resume-overview-content">
      <h3 class="portfolio-resume-name">Africa</h3>

    </div>
  </div>
  <div class="columns small-13 medium-6 portfolio-resume-scrolling">
    <h3>Facts</h3>
    <ul class="portfolio-resume-side-list">
      <li>{{pop}}</li>

    </ul>
    <h3>Top 3 Dishes</h3>
    <p>Look at all this amazing stuff that I've done!</p>
    <ul>
      <li>{{name}}</li>
      <li>{{area_km}}</li>
      <li>{{pop}}</li>
      <li>{{number_countries}}</li>
      <li>{{largest_country}}</li>
    </ul>

    </ul>
  </div>
</div>

